<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Student Management System</title>
    <!-- 引入Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <h1 class="mb-3">Student Management System Homepage</h1>
    <h2>{{ msg }}</h2>
    <h3>below are mqtt msgs from esp:</h3>
    <div id="messages"></div>
    <div id="time">等待更新...</div>

    <div class="user-info mt-4">
        <ul class="list-unstyled">
            {% if user.is_authenticated %}
            <li>Hi, <strong>{{ user.username }}</strong>!</li>
            <li>Your user ID: <strong>{{ user.user_id }}</strong></li>
            {% if tag_ids %}
                <li>Your tags:</li>
                <ul>
                    {% for tag_id in tag_ids %}
                        <li>{{ tag_id }}</li>
                    {% endfor %}
                </ul>
            {% else %}
                <li>You do not have any associated tags.</li>
                <li><a href="{% url 'attach' %}">Attach with a Tag</a></li>
            {% endif %}
            <li><a href="{% url 'logout' %}" class="btn btn-primary mt-2">Logout</a></li>
            {% else %}
            <li><a href="{% url 'login' %}" class="btn btn-primary mt-2">Login</a></li>
            {% endif %}
        </ul>
    </div>
    <div class="mt-4">
        <a href="{% url 'sendToEsp32' %}" class="btn btn-success">sendToEsp32</a>
    </div>
</div>

<!-- MQTT消息 -->
{#<script>#}
{#        const ws = new WebSocket('ws://' + window.location.host + '/ws/some_path/');#}
{#        ws.onmessage = function(event) {#}
{#            const data = JSON.parse(event.data);#}
{#            document.querySelector('#messages').innerText += data.message + '\n';#}
{#        };#}
{#</script>#}
<script>
    var webSocketBridge = new channels.WebSocketBridge();
    webSocketBridge.connect('/ws/mqtt/');

    webSocketBridge.listen(function(message) {
        var messageList = document.querySelector("#messages");
        var messageElement = document.createElement('li');
        messageElement.appendChild(document.createTextNode(message));
        messageList.appendChild(messageElement);
    });
</script>

{# time #}
<script>
    // 确保使用你的实际域名和端口替换下面的 URL
    const ws_scheme = window.location.protocol === "https:" ? "wss" : "ws";

    const timeSocket = new WebSocket(
        ws_scheme + '://' + window.location.host + '/ws/time/'
    );

    timeSocket.onmessage = function(e) {
        const data = JSON.parse(e.data);
        document.querySelector('#time').innerText = data.time;
    };

    timeSocket.onclose = function(e) {
        console.error('Time socket closed unexpectedly');
    };
</script>

<!-- 引入Bootstrap JS 和 jQuery -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<script>
$(document).ready(function() {
    $('#sendToEsp32').click(function() {
        $.ajax({
            url: '{% url 'sendToEsp32' %}',
            type: 'get', // 或者 'post'，取决于你的URL处理方式
            success: function(response) {
                alert('Data has been sent to ESP32 successfully!');
            },
            error: function() {
                alert('Failed to send data to ESP32.');
            }
        });
    });
});
</script>

</body>
</html>
